
<%  %>
<%= render "menu" %>

<div class="container">

<h1>Введите адрес видео</h1>
<form action="new"  class="" id="idea-form" method="post" 
            name="idea-form">
                <div class="form_wrapper">
                    <label></label>
                    <input class="en_add_vid" name="url" placeholder="" type="text">
                    
                    <input name= "authenticity_token" type="hidden" 
                    value="<%= form_authenticity_token %>">
                   <button type="submit" class="en_add_button">Отправить</button>  
               
            </form>



</div>