<%= render "menu" %>

<div class="container">
    
<% @videos.each do |video| %>    
<h1>Видео</h1>

<a href="/new/<%= video.video %>">
<img class='sddefault' src="http://i.ytimg.com/vi/<%= video.video %>/sddefault.jpg">
</a>

</br>

</br>
<% end %>


</div>