<%= render "menu" %>

<div class="container">
<h1>Видео</h1>

<div class="fixed_frame">
    <div class="right_button">
        <ul>
            <li><a class="en_menu go_top" >Подняться наверх</a></li>
            <li>
                <% if @current_user%>
                        <% if @is_mine%>
                            <h4>видео добавлено</h4>
                        <% else %>
                        
                            <a id='addvideo' class="en_menu <%= 'active' if @en_my_vid %>" href='/addvideo/<%= @param %>'>Добавить в Мои видео</a>
                          <% end%>  
                    <% else %>
                    <a class="en_menu " href='/auth/vkontakte'>Добавить в Мои видео</a>
                     
                    
               <% end%>    
            </li>
        </ul>
    </div>
    
</div>



<div class="frame">
<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @param %>" frameborder="0" ></iframe>
</div>


<h1>Текст видео</h1>
<% @text.each do |k, v| %> 

        
        <%= v %>
        </br>
       
 
       
        <span class="gray"> 
        <%= @text_ru[k] %>
        </span>
        </br>
        </br>
       
<% end %>


</div>