// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.gray{
    color: #999;
}

$yell: #368AF3;
$yell_dark:  darken($yell, 10%);

.navbar{
    position: relative;
    min-height: 70px;
    
    border: 1px solid transparent;
    background-color: $yell;
    margin-bottom: 0;
}




@media (min-width: 768px){
.container {
    width: 750px;
}
}


@media (min-width: 992px){
.container {
    width: 970px;
}
}


@media (min-width: 1200px){
.container {
    width: 1170px;
}
}



.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-header{
    display: inline-block;
        float: left;
       
}

.navbar-brand{
    line-height: 70px;
    padding: 0 0 0 15px;
    color: #fff;
    font-weight: 700;
}

.navbar-enter {
    display: inline-block;
        float: right;
       line-height: 70px;
       padding: 0 15px 0 15px;
        color: #fff;
    font-weight: 700;
    cursor: pointer;
    
    img{
        
        height: 50px;
        width: 50px;
        border-radius: 25px;
        -moz-border-radius: 25px;
        margin-right: 10px; 
        vertical-align: middle;

    }
    
    
}
.navbar-enter:hover {
background-color: $yell_dark;
}

.en_menu{
    
   line-height: 70px;
       padding: 15px;
       
    font-weight: 700;
    color: $yell;
    border: 1px solid $yell;
    margin-right: 20px;
    border-radius: 4px;
   
}

.en_menu:hover{
    
   
       background-color: $yell;
    
    color: white;
    
   
}


.en_menu_container{
    min-height: 70px;
    border: 1px solid transparent;
    margin-top: 10px; 
   
}
    
.en_container{
    width: 750px;
    margin: 0 auto;
    
}
   
.en_add_vid{
    width: 400px;
    line-height: 34px;
    padding: 0 0 0 15px;
    border: 1px #cecece solid;
}

.en_add_button{
    background: white;
    border: 1px $yell solid;
    line-height: 34px;
    margin-left: 20px;
    border-radius: 4px;
    padding-left: 20px;
    padding-right: 20px; 
    color: $yell;
    font-weight: 700;
    cursor: pointer;
    
}

.en_add_button:hover{
    color: white;
    background: $yell;
    
}

.active{
    color: white;
    background: $yell;
    
}

.sddefault{
    width: 400px;
    height: auto;
}

.fixed{
    position: fixed;
     
      top: 10px;
}

.frame{
    
    background-color: #fff;
    
    width: 100%;
    
}

.frame_hd{
    
    height: 315px;
}

.frame_sd{
    height: 249px;
    top: 0px;
    
}

.fixed_frame{
    position: fixed;
    height: 189px;
    top: 0px;
    background-color: #fff;
    width: 650px;
    display: none;
    
    
}

.fixed_frame_on{
    
    display: block;
}

.right_button{
    float: right;
}

.cboth{
    clear: both;
}

ul{
   list-style:none;
}

h4{
    color: $yell;
    margin-left: 15px; 
}

.white{
    color: white;
}