<!DOCTYPE html>
<html>
<head>
  <title>Sunny 5</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Английский</a>
        </div> 
      <% if @current_user %>
        
         <a class="white" href='/settings'>
        <div class="navbar-enter">
                   <img src="<%= @current_user.avatar  %>">
        <%= @current_user.name  %>
        
        </div>  </a>
      <% else %>
              <a class="navbar-enter" href='/auth/vkontakte'>Войти через VK</a>
        </div> 
      <% end %>
      
    </div>
  
  
  </div>
  
    <%= yield %>

</body>
</html>
